.blackjack-container {
  position: relative;
  width: 100vw; /* 100% del ancho de la ventana */
  height: 100vh; /* 100% del alto de la ventana */
  background-image: url("../imagenes/fondoCasino.png");
  background-size: cover; /* Que cubra toda la pantalla */
  background-position: center; /* Centrado */
  background-repeat: no-repeat; /* Que no se repita */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alinea el contenido arriba */
  padding-top: 50px; /* Espacio arriba para el título */
}

/* Botón de volver al menú */
.btn-volver {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #222; /* fondo negro */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-volver:hover {
  background-color: #444;
}

/* TODOS los botones de controles (apuestas, acciones, play again) */
#controls .btn,
.btn-play-again {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Cabeceras */
.bjh1{
  margin-bottom: 10px;
  color: white;
}
.bjh2{
  margin-bottom: 10px;
  color: white;
}
/* Mensajes */
.bjp1{
  color: #DDDDDD; /* gris clarito */
}
