.home-container {
    padding: 40px;
  }


  
  .home-header {
    margin-bottom: 40px;
  }
  
  .btn-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-image: url("../imagenes/botonAjustes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
  }
  
  .btn-top-right-store{
    position: absolute;
    top: 20px;
    right: 80px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-image: url("../imagenes/botonTienda.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
  }
  
  .games-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  