@media (max-width: 768px) {
  .ajustes-container,
  .blackjack-container,
  .home-container,
  .edad-container,
  .slots-container,
  .tienda-container {
    padding: 1rem !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
    box-sizing: border-box !important;
    min-height: 100vh !important;
    overflow-x: hidden !important;
  }

  .ajustes-mismaLinea,
  .mensaje-header,
  .store-section,
  .edad-card {
    width: 90% !important;
    padding: 1rem !important;
    flex-direction: column !important;
    gap: 0rem !important;
  }

  .ajustes-texto,
  .ajustes-header h1,
  .home-title,
  .tienda-header h1 {
    font-size: 2rem !important;
    text-align: center !important;
  }

  .ajustes-linea,
  .range,
  .bet-input {
    width: 100% !important;
  }

  .btn,
  .btn-top-left,
  .btn-volver,
  .spin-button,
  .btn-buy {
    width: 50% !important;
    font-size: 1rem !important;
    padding: 0.75rem !important;
  }

  .icon-btn {
    width: 40px !important;
    height: 40px !important;
  }

  .games-section {
    flex-direction: column !important;
    align-items: center !important;
  }

  .home-banner {
    margin: 1rem auto !important;
    padding: 1rem !important;
  }

  .modal-overlay {
  padding: 1rem;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box;
  }

  .modal-content {
    width: 95% !important;
    max-width: 95% !important;
    font-size: 1rem !important;
    padding: 1.5rem 1rem !important;
    border-radius: 12px !important;
    text-align: center;
  }

  .modal-content h2 {
    font-size: 1.4rem !important;
    margin-bottom: 1rem;
  }

  .modal-content p {
    font-size: 1rem !important;
    line-height: 1.5;
  }

  .modal-content .btn {
    width: 90% !important;
    padding: 0.6rem 1rem !important;
    font-size: 1rem !important;
    margin-top: 1rem;
  }

  .modal-content-error {
    width: 85% !important;
    max-width: 95% !important;
    font-size: 1rem !important;
    padding: 1.5rem 1rem !important;
    border-radius: 12px !important;
    text-align: center;
  }

    .rules-modal {
      width: 50% !important;
      height: 70% !important;
      right: 3% !important;
      top: 8% !important;
      position: fixed !important;
  }

  .rules-button {
    width: 35% !important;
    font-size: 1rem !important;
    padding: 0.75rem !important;
    position: fixed !important;
    top: 10px !important;
  }
}

@media (max-width: 768px) {
  body:not(.home-container) .btn-top-left,
  .blackjack-container .btn-top-left,
  .slots-container .btn-top-left,
  .tienda-container .btn-top-left,
  .ajustes-container .btn-top-left,
  .edad-container .btn-top-left{
    position: fixed !important;
    top: 10px !important;
    left: 10px !important;
    z-index: 999 !important;
    width: auto !important;
  }
}