
.mesa {
  position: relative;
  aspect-ratio: 1.7 / 1;
  width: min(95vw, 1200px);
  margin-inline: auto;
  background: url("../../imagenes/mesa.png") center/contain no-repeat;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  padding: 1rem;
  transition: transform 0.3s ease;
  transform:scale(1.2);
}

@media (max-width: 1000px) {
  
  .mesa {
    position: relative;
    aspect-ratio: 1.7 / 1;

    margin-inline: auto;
 
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    padding: 1rem;
    transition: transform 0.3s ease;
    width: 90vw;
    background: url("../../imagenes/mesa.png") center/contain no-repeat;
    transform: scale(0.75);
  }

  .botones-container {
    flex-direction: column;
    align-items: center;
  }

  .boton-accion {
    width: 80%;
    max-width: 300px;
  }
  .jugada-encima {
    position: absolute;
    top: 93% !important;
    left: 64% !important;
    transform: translate(-50%, -100%);
    font-size: clamp(0.9rem, 2vw, 1.4rem);
    font-weight: bold;
    color: white;
    text-shadow: 0 0 4px black;
    z-index: 10;
    white-space: nowrap;
    pointer-events: none;
}


}


.jugador-top { grid-row: 1; }
.cartas-comunitarias { grid-row: 2; }
.jugador-bottom { grid-row: 3; }

.carta { z-index: 5; }
.jugador { z-index: 4; }
.pot { z-index: 6; }

.jugada-encima {
  position: absolute;
  top: 90%;
  left: 64%;
  transform: translate(-50%, -100%);
  font-size: clamp(0.9rem, 2vw, 1.4rem);
  font-weight: bold;
  color: white;
  text-shadow: 0 0 4px black;
  z-index: 10;
  white-space: nowrap;
  pointer-events: none;
}



.botones-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.boton-accion {
  background-color: #222;
  color: white;
  padding: clamp(0.6rem, 1.5vw, 1rem) clamp(1.2rem, 3vw, 2rem);
  border: none;
  border-radius: 8px;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.boton-accion:hover {
  background-color: #333;
  transform: scale(1.05);
}
