.jugador {
    display:flex;
    flex-direction:column;
    align-items:center;
    
  }
  
  .jugador-cartas { display:flex; gap:8px; pointer-events:auto; }
  
  .jugador-top   .jugador-cartas { flex-direction:row-reverse; } /* rival de dcha a izq */
  .jugador-nombre,
  .jugador-fichas {
    margin-top:2px;
    font-weight:600;
    color:#fff;
    text-shadow:0 0 4px #000;
  }
  .jugador-turno {
    animation: pulsoTurno 1s infinite;
    color: #ffeb3b;
    text-shadow: 0 0 6px #ffd700, 0 0 10px #ffc107;
    font-size: 1.1em;
  }
  
  @keyframes pulsoTurno {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
  }
